.FolderList__list {
    padding: 0;
    margin-top: 130px;
    list-style: none;
}

.FolderList__folder {
    display: block;
    background-color: #0b332e;
    color: rgb(173, 173, 173);
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.FolderList__folder.active {
    color: white;
    background-color: #1b8179;
}

.FolderList__item a:hover {
    color: #FFB72F;
}


.Add__folder-button, .Add__note-button {
    display: block;
    background-color: #1b8179;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    line-height: 33px;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}

.Add__folder-button:hover, .Add__note-button:hover {
    cursor: pointer;
    background-color: #FFB72F;
}

.plus-icon {
    display: block;
    margin: 0 auto;
    padding-top: 12px;
}