.FolderName__name {
    color: white;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0px auto;
    font-size: 30px;
    float: right;
}

.goBack-button {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 0;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    background-color: #1b8179;
    color: white;
    font-weight: bold;
}

.goBack-button:hover {
    cursor: pointer;
    background-color: #FFB72F;
}