.AddFolder {
    color: #dedede;
}

.AddFolder h2 {
    margin-left: 15px;
}

.AddFolder__form {
    background-color: #0b332e;
    max-width: 350px;
    padding: 20px;
}

.AddFolder label {
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
}

.AddFolder input {
    width: 300px;
    height: 40px;
    padding: 8px;
    font-size: 14px;
}

.AddFolder button {
    display: block;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-top: 10px;   
    background-color: #1b8179;
    color: #dedede;
    text-decoration: none;
}

.AddFolder button:hover {
    cursor: pointer;
    background: #FFB72F;
}