.Note {
    background-color: #0b332e;
    padding: 8px 0 8px 8px;
    height: 88px;
    max-width: 380px;
    margin-bottom: 8px;
    position: relative;
}

.Note__title{
    font-size: 20px;
}

.Note__title a {
    text-decoration: none;
    color: #cacaca;
}

.Note__title a:hover {
    color: #FFB72F;
}

.Note__date {
    font-size: 14px;
    position: absolute;
    bottom: 8px;
    color: rgb(173, 173, 173);
}

.Note__delete {
    float: right;
    font-size: 12px;
    transform: rotate(-90deg);
    position: relative;
    transform-origin: right bottom;
    top: -99px;
    width: 103px;
    height: 32px;
    background-color: #124943;
    border: 0;
    color: rgb(173, 173, 173);
}

.Note__delete:hover {
    cursor: pointer;
    background-color: rgba(92, 8, 8, 0.89);
}