.Main__list {
    list-style: none;
    margin: 0px;
    padding: 10px;
}

.Main__item {
    background-color: rgba(0,0,0,0.1);
    list-style: none;
    margin: 10px 0;
    padding: 10px;
}

.Main__item a {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}