.AddNote {
    color: #dedede;
    padding: 10px;
}

.AddNote h2 {
    margin-left: 15px;
}

.AddNote__form {
    background-color: #0b332e;
    max-width: 350px;
    padding: 20px;
}

.AddNote label {
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
}

.AddNote input {
    width: 300px;
    max-width: 90%;
    height: 40px;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 10px;
}

.AddNote select {
    width: 320px;
    max-width: 95%;
    height: 40px;
}

.AddNote button {
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-top: 10px;  
    margin-right: 10px; 
    background-color: #1b8179;
    color: #dedede;
    text-decoration: none;
}

.AddNote button:hover {
    cursor: pointer;
    background: #FFB72F;
}