.App {
  text-align: center;
}

.App__header a {
  color: #09d3ac;
  text-decoration: none;
  color: white;
}

.App__header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App__navigation {
  border: 2px solid red;
}
